body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    padding-bottom: 50px;
}

.team {
    color:#EEEEEE ;
    text-align: center;
    margin-bottom: -25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bolder;
}

#counter-home {
    color: #F94F6D;
    font-family: "Cursed Timer ULiL", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    background-color: #080001;
    width: 100px;
    height: 90px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
}

#counter-guest {
    color: #F94F6D;
    font-family: "Cursed Timer ULiL", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    background-color: #080001;
    width: 100px;
    height: 90px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
}

button{
    color: #9AABD8;
    font-family: "Cursed Timer ULiL", sans-serif;
    background-color: #1B244A;
    text-align: center;
    width: 38px;
    height: 35px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding-top: 5px;
    margin-right: 4px;
    margin-left: 4px;
}

.point-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}